/*Color scheme
#61892F - Dark Green
#86C232 - Green
#222629 - Background
#474B4F - Dark grey
#6B6E70 - Light grey
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #222629;
}

p, h1, h2, li {
    color: #EDF5E1;
}

header a {
    color: #86C232;
    text-decoration: none;
}

header a:hover {
    color: #61892F;
}


header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 85px;
    background-color: #222629;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    color: #86C232;
}

header h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: inline;
    color: #86C232;
}

.button {
    background-color: #86C232;
    color: white;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1px;
}

.button:hover {
    cursor: pointer;
    background-color: #61892F;
}

.button p {
    text-transform: uppercase;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.spacer {
    height: 100px;
}

.toolbox {
    display: flex;
    justify-content: center;
    /*border: 1px dotted black;*/
}

.tool {
    border: 2px solid #86C232;
    background-color: #474B4F;
    padding: 10px;
}

.tool h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.ww-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 400px;
}

.ww-search h1 {
    margin-bottom: 10px;
}

.ww-search h2 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
}

.ww-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 25px;
    /*border: 1px solid black;*/
    width: 80%;
    gap: 2px;
    grid-auto-rows: 25px;
}

.ww-grid .ww-row { /*p tags*/
    background-color: #86C232;
    height: 100%;
    display: flex;
    align-items: center;
}


.ww-row a {
    color: white;
    text-decoration: none;
}

.ww-grid .ww-header {
    background-color: #61892F;
    height: 100%;
    display: none;
    align-items: center;
}

.ww-grid p {
    margin-left: 5px;
    font-weight: bold;
}

#ww-button {
    height: 22px;
    width: 75px;
}

#ww-button p {
    font-size: 14px;
    margin: auto;
}

#ww-user-input {
    height: 20px;
    width: 150px;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bot-text {
    margin-top: auto;
    font-size: 9px;
}